
@{
    int hoursDiff = (DateTime.Now - ViewBag.RandomDate).Hours;


}

<h2>The Random date is @ViewBag.RandomDate and the current date is @DateTime.Now</h2>
</br>

<p> The difference in hours is @hoursDiff</p>